__pycache__/
env/
log/
log-*/
*.p
*.png
plots/
data/
runs/
results/
*.sw?
orca/
core
deepsnap-experimental/
ckpt/
astar_ged/src/graph-matching-toolkit/
visual_genome_python_driver
common/data
common/__pycache__
subgraph_matching/__pycache__